@inherits LayoutComponentBase
@inject KeepTrack.BlazorWebAssemblyApp.Authorization.ExternalAuthStateProvider externalAuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    @context.User.Identity.Name
                    <botton class="btn btn-light" @onclick="@(() => Logout())">Logout</botton>
                </Authorized>
                <NotAuthorized>
                    Not signed in
                    <NavLink class="ml-md-auto" href="login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    protected async Task Logout()
    {
        await JSRuntime.InvokeAsync<object>("FirebaseLogout", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void LogoutCallback()
    {
        Console.WriteLine("Callback in C# called");
        externalAuthStateProvider.UpdateAuthentitationStateAsync(null, null, null);
        InvokeAsync(StateHasChanged);
    }
}
