@page "/login"
@inject NavigationManager NavigationManager
@inject KeepTrack.BlazorWebAssemblyApp.Authorization.ExternalAuthStateProvider externalAuthStateProvider

<h1>Login</h1>

<botton class="btn btn-info" @onclick="@(() => LoginGoogle())">Login Google</botton>
<botton class="btn btn-info" @onclick="@(() => LoginGitHub())">Login GitHub</botton>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    protected async Task LoginGoogle()
    {
        await JSRuntime.InvokeAsync<object>("FirebaseLoginGoogle", DotNetObjectReference.Create(this));
    }

    protected async Task LoginGitHub()
    {
        await JSRuntime.InvokeAsync<object>("FirebaseLoginGitHub", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void LoginCallback(string email, string display, string token)
    {
        externalAuthStateProvider.UpdateAuthentitationState(display, email, token);
        InvokeAsync(StateHasChanged);
        NavigationManager.NavigateTo($"/");
    }
}
