<h1 id="tableLabel">Movies</h1>

<p *ngIf="!movies"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Movie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
    </tr>
  </tbody>
</table>

<input id="title" class="form-control" #titleInput type="text" name="title" />
<button class="btn btn-primary" type="submit" (click)="create(titleInput.value)">Add</button>
